

#about_page_wrapper {

    @include flex_direction_align_justify(row, none, center);
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;

}

#about_page_section_left {

    padding-right: 50px;

}

#about_page_section_left h3 {

    margin-top: 20px;
    font-size: 45px;

}

#about_button_submit {

    margin-top: 10px;

}

//form

#about_page_form p {

    margin: 0 0 0 0;

}

#about_page_form input {

    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;

}

//media queries

@media only screen and (max-width: 1600px) {

    #about_page_wrapper {

        width: 80%;

    }   

}

@media only screen and (max-width: 1448px) {

    #about_page_wrapper {

        width: 90%;

    }   


}

@media only screen and (max-width: 1182px) {
    
    #about_page_wrapper {

        @include flex_direction_align_justify(column, none, center)

    }

    #about_page_section_right {

        @include flex_direction_align_justify(column, center, center)

    }
    
    #about_page_form {

        width: 50%;

    }

    #about_button_submit {

        width: 50%;
    }

    #about_page_section_left {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        padding-right: 0px;
    
    }

}

@media only screen and (max-width: 992px) {
    

}

@media only screen and (max-width: 844px) {


}

@media only screen and (max-width: 620px) {

  #about_page_section_right img {

    width: 400px;
    height: auto;

  }

  #about_page_section_left {
    
    width: 90%;

}

}

@media only screen and (max-width: 450px) {

    #about_page_section_right img {
  
      width: 350px;
      height: auto;
  
    }
  
  }
