@keyframes move1 {

    from {transform: translate(0, 20px)}
    to {transform: translate(0, 0)}

}

@keyframes move2 {

    from {transform: translate(0, 28px)}
    to {transform: translate(0, 0)}

}

@keyframes appear_and_move {

    0% {opacity: 0; transform: translate(0, 35px)}
    30% {opacity: 0; transform: translate(0, 35px)}
    100% {opacity: 1; transform: translate(0, 0)}

}

#banner_section {

    background-color: black;
    position: relative;
    top: 0;
    left: 0;
    

}

#banner_div_1 {

    height: 800px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 20;
    @include flex_direction_align_justify(column, center, center);
    
}

#banner_div_2 {

    height: 800px;
    transition: visibility 1.5s;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    @include flex_direction_align_justify(column, center, center);
    background-color: aqua;
    z-index: 30;
   
}



#inside_banner {

    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    opacity: 1;
    animation-name: appear_and_move;
    animation-duration: 1.6s;
    color: white;

}

#inside_banner h1 {

    font-size: 45px;
    text-align: center;
    text-shadow: 2px 2px 1px #6B6B6B;

}

#inside_banner p {

    font-style: italic;
    font-weight: 600;
    text-shadow: 2px 2px 1px #6B6B6B;
    font-size: 15px;
        
}

.banner_button {

    background-color: $fifth_color;
    border-radius: 5px;
    padding: 15px 35px 15px 35px;
    color: white;
    border: none;
    

}

#lone_button {

    animation-name: move2;
    animation-duration: 2.3s;

}

#button1 {

    margin-right: 10px;
    animation-name: move1;
    animation-duration: 2.3s;

}

#button2 {

    margin-left: 10px;
    animation-name: move2;
    animation-duration: 2.3s;

}

#sub_banner_title {

    font-size: 45px;

}

#banner_arrow_container {

    a {

        color: white;

    }

}

/* Media Queries */ 

@media only screen and (max-width: 1448px) {

   

}

@media only screen and (max-width: 1182px) {


}

@media only screen and (max-width: 992px) {

   

}

@media only screen and (max-width: 844px) {

   

}

@media only screen and (max-width: 620px) {
   

}

