#benefits_section {

    color: white;
    height: 400px;
    @include flex_direction_align_justify(row, center, center);

}

#benefits_container {

    @include flex_direction_align_justify(row, center, space-between);
    width: 90%;

}

#empty_benefits_container {

    width: 50%;

}

#benefits_list {

    width: 50%;

}

.benefits_item {

    @include flex_direction_align_justify(row, center, flex-start);

}

.benefits_item i {

    color: $fourth_color;

}

.benefits_item i {

    margin-right: 10px;

}

#benefits_about_button {

    margin-top: 19.20px;

}

//media queries

@media only screen and (max-width: 1448px) {


}

@media only screen and (max-width: 1182px) {
    

}

@media only screen and (max-width: 992px) {
    

}

@media only screen and (max-width: 844px) {

    #benefits_section {

        height: 600px;

    }    

    #benefits_container h2 {

        text-align: center;

    }

    #benefits_button_container {

        text-align: center;

    }

    #benefits_list {

        width: 100%

    }

    .benefits_item {

        width: 40%;
        margin-left: auto;
        margin-right: auto;

    }

    #empty_benefits_container {

        width: 0%;

    }

}

@media only screen and (max-width: 620px) {

    .benefits_item {

        width: 70%;

    }

}