$base_color: white;
$secondary_color: #222d35;
$tertiary_color: #98bc8c;
$fourth_color: #1face1;
$fifth_color: #1969da;
$sixth_color: #bdedff;

$base_font_color: rgb(63, 63, 63);
$secondary_font_color: rgb(109, 109, 109);

$line_color: rgb(109, 109, 109);

/* 

Main Break Points for Media Queries

1448px | 1182px | 992px | 844px | 620px

*/

body {

    margin: 0;
    font-family: "Ubuntu", Tahoma, Geneva, sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;

}

h1 {

    margin-top: 0;
    margin-bottom: 0;

}

@mixin flex_direction_align_justify($direction, $itemAlign, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $itemAlign;
    justify-content: $justify;
    
}

@mixin create_row_or_column($direction) {

    display: flex;
    flex-direction: $direction;

}

