/* 

Main Break Points for Media Queries

1448px | 1182px | 992px | 844px | 620px

******************************************

Common stylings used for different pages end with _

Example: #page_button_

******************************************

Mixins stored in this file

*/
body {
  margin: 0;
  font-family: "Ubuntu", Tahoma, Geneva, sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.page_button_ {
  background-color: #1969da;
  border-radius: 5px;
  padding: 15px 35px 15px 35px;
  color: white;
  border: none;
}

.first_button_spacing_ {
  margin-right: 10px;
}

.second_button_spacing_ {
  margin-left: 10px;
}

/* Top Section with address, phone, email, and social links */
#top_section {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(184, 184, 184);
  height: 65px;
}

#top_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
  font-size: 12px;
}

#top_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.top_info_container {
  display: flex;
  flex-direction: row;
  padding-right: 30px;
  color: rgb(63, 63, 63);
}

.top_info_container p:first-child {
  padding-right: 5px;
  font-weight: 600;
}

.top_info {
  color: rgb(109, 109, 109);
  font-weight: 100;
}

#top_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social_links {
  color: rgb(109, 109, 109);
  padding-left: 29px;
}

#login_text {
  font-size: 14px;
  font-weight: 500;
  color: #1969da;
}

@media only screen and (max-width: 1448px) {
  #top_wrapper {
    width: 80%;
  }
}
@media only screen and (max-width: 1182px) {
  #top_wrapper {
    width: 95%;
  }
  #top_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 992px) {
  #top_section {
    height: 80px;
  }
  .top_info_container {
    padding-right: 0;
  }
  #top_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #top_right {
    padding-bottom: 10px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-self: center;
  }
  .social_links {
    padding-left: 0;
  }
}
@media only screen and (max-width: 844px) {
  #top_section {
    height: 100px;
  }
  .top_info_container {
    display: flex;
    flex-direction: column;
  }
  #top_left {
    padding-bottom: 5px;
  }
  .top_info_container p {
    margin-top: 5px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
  }
  #top_right {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 620px) {
  #top_section {
    height: 200px;
  }
  #top_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
#navigation {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(184, 184, 184);
  height: 105px;
}

#navigation_wrapper {
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#navigation_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav_link {
  padding-right: 25px;
  font-weight: 500;
}

.outer_nav_link {
  text-decoration: none;
  font-weight: 600;
  color: #222d35;
}

.nav_link:hover {
  color: #1face1;
}

.outer_nav_link:visited {
  text-decoration: none;
  font-weight: 400;
  color: #222d35;
}

#free_pass_button {
  border: 1px solid #1face1;
  color: #1face1;
  padding: 20px;
}

/* Media Queries */
@media only screen and (max-width: 1448px) {
  #navigation_wrapper {
    width: 80%;
  }
}
@media only screen and (max-width: 1182px) {
  #navigation {
    height: 200px;
  }
  #navigation_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 620px) {
  #logo_container {
    margin-bottom: 10px;
    margin-top: -15px;
  }
  #navigation_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav_link {
    padding-right: 0;
    width: 100%;
  }
  #navigation_wrapper {
    width: 100%;
  }
  #navigation_list {
    width: 100%;
  }
  #navigation {
    height: 345px;
  }
  .outer_nav_link {
    width: 100%;
  }
  .nav_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
  }
  #free_pass_button {
    margin-top: 20px;
  }
}
#footer {
  height: 500px;
  background-color: #222d35;
  color: white;
}

#footer_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.footer_section {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: none;
  text-align: center;
}

.footer_section img {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 75px;
}

.footer_section .social_links {
  padding-left: 0px;
  color: white;
}

#footer_social_links {
  width: 30%;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer_info p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer_info h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer_info h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer_info {
  margin-bottom: 25px;
}

.footer_info button {
  background-color: #1face1; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}

.footer_info h4 {
  color: #1face1;
  font-size: 14px;
}

.footer_info h3 {
  font-size: 25px;
  padding: 0 20px 0 20px;
}

#left_side_wrapper .footer_info p {
  padding: 0 40px 40px 40px;
}

#footer_info_location {
  padding: 0 40px 0 40px;
}

@media only screen and (max-width: 1182px) {
  #footer_wrapper {
    width: 95%;
  }
}
@media only screen and (max-width: 992px) {
  #footer {
    height: 950px;
  }
  #footer_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer_section {
    width: 95%;
  }
  #logo_social_footer {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 844px) {
  #footer {
    height: 1000px;
  }
}
@-webkit-keyframes move1 {
  from {
    transform: translate(0, 20px);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes move1 {
  from {
    transform: translate(0, 20px);
  }
  to {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes move2 {
  from {
    transform: translate(0, 28px);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes move2 {
  from {
    transform: translate(0, 28px);
  }
  to {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes appear_and_move {
  0% {
    opacity: 0;
    transform: translate(0, 35px);
  }
  30% {
    opacity: 0;
    transform: translate(0, 35px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes appear_and_move {
  0% {
    opacity: 0;
    transform: translate(0, 35px);
  }
  30% {
    opacity: 0;
    transform: translate(0, 35px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
#banner_section {
  background-color: black;
  position: relative;
  top: 0;
  left: 0;
}

#banner_div_1 {
  height: 800px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#banner_div_2 {
  height: 800px;
  transition: visibility 1.5s;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  z-index: 30;
}

#inside_banner {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  opacity: 1;
  -webkit-animation-name: appear_and_move;
          animation-name: appear_and_move;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  color: white;
}

#inside_banner h1 {
  font-size: 45px;
  text-align: center;
  text-shadow: 2px 2px 1px #6B6B6B;
}

#inside_banner p {
  font-style: italic;
  font-weight: 600;
  text-shadow: 2px 2px 1px #6B6B6B;
  font-size: 15px;
}

.banner_button {
  background-color: #1969da;
  border-radius: 5px;
  padding: 15px 35px 15px 35px;
  color: white;
  border: none;
}

#lone_button {
  -webkit-animation-name: move2;
          animation-name: move2;
  -webkit-animation-duration: 2.3s;
          animation-duration: 2.3s;
}

#button1 {
  margin-right: 10px;
  -webkit-animation-name: move1;
          animation-name: move1;
  -webkit-animation-duration: 2.3s;
          animation-duration: 2.3s;
}

#button2 {
  margin-left: 10px;
  -webkit-animation-name: move2;
          animation-name: move2;
  -webkit-animation-duration: 2.3s;
          animation-duration: 2.3s;
}

#sub_banner_title {
  font-size: 45px;
}

#banner_arrow_container a {
  color: white;
}

/* Media Queries */
#banner_div {
  color: white;
}

#first_section {
  margin-top: 5em;
  margin-bottom: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#first_section_titles_container {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title1 {
  font-size: 22px;
}

#title2 {
  font-size: 36px;
}

#first_section_content {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: space-between;
  align-self: center;
}

#first_section_text_area {
  width: 49.5%;
}

#introduction_video_container {
  width: 49.5%;
}

#first_section_text_area p {
  margin-top: 0;
}

/* Media Queries */
@media only screen and (max-width: 1650px) {
  #first_section_content {
    width: 90%;
  }
  #first_section_text_area {
    width: 49.9%;
  }
  #introduction_video_container {
    width: 49.9%;
  }
}
@media only screen and (max-width: 1448px) {
  .iframe_container iframe {
    width: 500px;
    height: 281px;
  }
}
@media only screen and (max-width: 1182px) {
  #first_section_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #first_section_text_area {
    width: 80%;
    margin-bottom: 3em;
  }
  .iframe_container iframe {
    width: 700px;
    height: 394px;
  }
}
@media only screen and (max-width: 844px) {
  #first_section_titles_container {
    text-align: center;
  }
  .iframe_container iframe {
    width: 500px;
    height: 281px;
  }
}
@media only screen and (max-width: 620px) {
  .iframe_container iframe {
    width: 335px;
    height: 188px;
  }
  #first_section_text_area {
    width: 90%;
  }
}
#benefits_section {
  color: white;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#benefits_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

#empty_benefits_container {
  width: 50%;
}

#benefits_list {
  width: 50%;
}

.benefits_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.benefits_item i {
  color: #1face1;
}

.benefits_item i {
  margin-right: 10px;
}

#benefits_about_button {
  margin-top: 19.2px;
}

@media only screen and (max-width: 844px) {
  #benefits_section {
    height: 600px;
  }
  #benefits_container h2 {
    text-align: center;
  }
  #benefits_button_container {
    text-align: center;
  }
  #benefits_list {
    width: 100%;
  }
  .benefits_item {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  #empty_benefits_container {
    width: 0%;
  }
}
@media only screen and (max-width: 620px) {
  .benefits_item {
    width: 70%;
  }
}
#instructor_section {
  display: flex;
  justify-content: center;
}

#instructor_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  width: 90%;
  margin-top: 5em;
  margin-bottom: 5em;
  flex-wrap: wrap;
}

.instructor_card {
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: none;
}

.instructor_card h4 {
  margin-top: 0;
}

.instructor_photo {
  width: 300;
  height: 390;
}

.instructor_label {
  text-align: center;
}

.instructor_label h4 {
  margin-bottom: 0;
  color: #1face1;
  opacity: 0.6;
}

.instructor_label h3 {
  font-size: 20px;
  margin-top: 0;
}

#login_page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#login_title {
  width: 80%;
  align-self: center;
  margin-top: 2em;
  font-size: 30px;
}

#login_page_wrapper {
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: space-between;
  width: 80%;
  align-self: center;
  margin-top: 4em;
  margin-bottom: 7em;
}

#member_login {
  width: 48%;
}

#member_go_create_account {
  width: 48%;
}

.login_input_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.login_input_container input {
  width: 70%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #a0a0a0;
  padding-left: 15px;
  font-size: 18px;
}

#main_body {
  background-color: white;
}/*# sourceMappingURL=main.css.map */